/* font-family - primero */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
/* selector Universal */
*{
    margin: 0;
    padding: 0;
}

/* limpiar efectos nativos o por defecto */

a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

button{
    border: 0;
    background-color: unset;
}

body{       
    font-family: 'Hind Siliguri', sans-serif;
}

header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
    position: sticky;
    top: 0;
    
}

header > h1{
    font-size: 24px;
    line-height: 47px;
    font-weight: bolder;
}

nav > a{
    margin-left: 20px;
    font-size: 13px;
    font-weight: 800;
}

.redes{
    display: flex;
}

.redes > a{
    font-size: 14px;
    margin-left: 10px;
}

.redes i{
    color: #4d555a;
}

section{
    padding: 60px 15%;
    height: 350px;
}

.hero{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
    background-color: #00fe9c;
    height: 520px;
}

.hero > div{
    
}

.hero h2{
    font-size: 32px;
    line-height: 65px;
    font-weight: 500;
    letter-spacing: -2px;
}

.hero h1{
    font-size: 72px;
    line-height: 72px;
    padding-right: 10px;
    border-right: 10px solid #00000026;
}

.hero p{

    line-height: 65px;
}

.btn-negro{
    background-color: #202428;
    color: white;
    padding: 10px 30px;
    margin-right: 25px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 0.3);
} 

.btn-link{ 
    text-decoration: underline;

}

.btn-link > i{ 
    padding-left: 4px;

}

.hero img{
    width: 320px;
    height: 320px;
    margin-right: 5%;
    border: 10px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.3);
}

.titulo{
    text-align: center;
}

.titulo h1{
    font-size: 36px;
    line-height: 50px;
}
.titulo > h5 > span{
    background-color: #00fe9c;
    padding: 0px 5px;
}

.presentacion{
    display: flex;
    justify-content: space-between;
}

.brief{
    width: 60%;
}

.experiencia{
    text-align: center;
}

.datos_personales{
    display: flex;
    justify-content: space-between;
}