/* font-family - primero */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
/* selector Universal */
*{
    margin: 0;
    padding: 0;
}

/* limpiar efectos nativos o por defecto */

a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

button{
    border: 0;
    background-color: unset;
}

body{       
    font-family: 'Hind Siliguri', sans-serif;
}

header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
    position: sticky;
    top: 0;
    
}

header > h1{
    font-size: 24px;
    line-height: 47px;
    font-weight: bolder;
}

nav > a{
    margin-left: 20px;
    font-size: 13px;
    font-weight: 800;
}

.redes{
    display: flex;
}

.redes > a{
    font-size: 14px;
    margin-left: 10px;
}

.redes i{
    color: #4d555a;
}

section{
    padding: 40px 15%;
    
}

.hero{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
    background-color: #00fe9c;
    height: 520px;
}

.hero h2{
    font-size: 32px;
    line-height: 65px;
    font-weight: 500;
    letter-spacing: -2px;
}

.hero h1{
    font-size: 72px;
    line-height: 72px;
    padding-right: 10px;
    border-right: 10px solid #00000026;
}

.hero p{

    line-height: 65px;
}

.btn-negro{
    background-color: #202428;
    color: white;
    padding: 10px 30px;
    margin-right: 25px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 0.3);
} 

.btn-link{ 
    text-decoration: underline;

}

.btn-link > i{ 
    padding-left: 4px;

}

.hero img{
    width: 320px;
    height: 320px;
    margin-right: 5%;
    border: 10px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.3);
}

.titulo{
    text-align: center;
    margin-bottom: 30px;
}

.titulo h1{
    font-size: 36px;
    line-height: 50px;
}
.titulo > h5 > span{
    background-color: #00fe9c;
    padding: 0px 5px;
}

.presentacion{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.brief{
    width: 65%;
}

.brief h2{
    font-size: 28px;
    font-weight: 500;
}

.brief p{
    font-size: 20px;
    line-height: 25px;
}

.brief > h2 strong{
    text-decoration: underline;
    text-decoration-color: #00fe9c;
}

.tiempo_experiencia{
    text-align: center;
    width: 25%;
}

.tiempo_experiencia > h1{
    font-size: 120px;
    line-height: 63px;
    background-color: #00fe9c;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 35px;
}

.tiempo_experiencia > p{
    font-size: 24px;
}

.datos_personales{
    display: flex;
    justify-content: space-between;
}

.etiqueta_dato{
    font-size: 12px;
    color: gray;
    font-weight: 800;
}

.valor_dato{
    font-size: 14px;
    font-weight: 800;
}

.sec_servicios{
    background-color: #f7f7f7;
}
.desc_servicios{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.servicio{
    flex: 30%;
    padding: 0 10px;
    padding-bottom: 15px;
    text-align: center;
}

.servicio i{
    color: #00fe9c;
    font-size: 40px;
}

.servicio h2{
    font-size: 21px;
}

.servicio p{
    font-size: 14px;
}

.resume{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.contenedor_resume{
    flex: 0 0 auto;
    width: 45%;
    padding: 0 15px;
}

.subcontenedor_resume{
    border-left: 2px solid #00fe9c;
    padding-left: 15px;
    padding-right: 15px;
}

.contenedor_resume h2{
    margin-bottom: 20px;
}

.subcontenedor_resume hr{
    border: 0;
    height: 1px;
    background-color: lightgray;
    margin: 20px 0;
}

.caja_resume h3{
    font-size: 21px;
}

.donde_resume{
    font-size: 16px;
    line-height: 32px;
}

.descripcion_resume{
    color: lightslategray;
    font-size: 16px;
    line-height: 24px;
}

.habilidades{
    margin-bottom: 20px;
}

.contenedor_habilidades{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0px;
}

.subcontenedor_habilidades{
    flex: 0 0 auto;
    width: 45%;
    
}

.datos_habilidad{
    display: flex;
    justify-content: space-between;
}

.progreso {
    background-color: #e9ecef;
    border-radius: 10px;
}

.progreso > div {
    background-color: #00fe9c;
    width: 40%;
    height: 10px;
    border-radius: 10px;
}
.btn-blanco{
    background-color: white;
    color: #202428;
    padding: 10px 30px;
    margin-right: 25px;
    border: 2px solid black;
    position: absolute;
    right: 42%;
    
}

.navegacion_portfolio{   
    width: 50%;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 25px;

}

.navegacion_portfolio a{
    text-transform: capitalize;
    font-weight: 600;
}

.galeria{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.galeria div{
    flex: 1 1 90%;
}

.galeria img{
    width: 300px;
}

footer{
    background-color: #00fe9c;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem 15%;
}

.datos{
    flex: 0 0 auto;
    width: 50%;
}

.datos h1{
    font-size: 40px;
    margin-bottom: 25px;
}

.datos h1+p{
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 48px;
}

.datos h3{
    font-size: 21px;
}

.datos p{
    font-size: 18px;
    margin-bottom: 15px;
}

.datos .redes a{
    font-size: 26px;
    margin: 0;
    margin-top: 15px;
    padding-right: 10px;
}

.contacto{
    flex: 0 0 auto;
    width: 40%;
    display: flex;
    flex-wrap: wrap;

}